<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cards</key>
	<dict>
		<key>52PlayingCardDeck</key>
		<array>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Ace</string>
				<key>Amount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Two</string>
				<key>Amount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Three</string>
				<key>Amount</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Four</string>
				<key>Amount</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Five</string>
				<key>Amount</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Six</string>
				<key>Amount</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Seven</string>
				<key>Amount</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Eight</string>
				<key>Amount</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Nine</string>
				<key>Amount</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Ten</string>
				<key>Amount</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Jack</string>
				<key>Amount</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>Queen</string>
				<key>Amount</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Spades</string>
				<key>Name</key>
				<string>King</string>
				<key>Amount</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Ace</string>
				<key>Amount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Two</string>
				<key>Amount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Three</string>
				<key>Amount</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Four</string>
				<key>Amount</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Five</string>
				<key>Amount</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Six</string>
				<key>Amount</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Seven</string>
				<key>Amount</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Eight</string>
				<key>Amount</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Nine</string>
				<key>Amount</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Ten</string>
				<key>Amount</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Jack</string>
				<key>Amount</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>Queen</string>
				<key>Amount</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Diamonds</string>
				<key>Name</key>
				<string>King</string>
				<key>Amount</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Ace</string>
				<key>Amount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Two</string>
				<key>Amount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Three</string>
				<key>Amount</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Four</string>
				<key>Amount</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Five</string>
				<key>Amount</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Six</string>
				<key>Amount</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Seven</string>
				<key>Amount</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Eight</string>
				<key>Amount</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Nine</string>
				<key>Amount</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Ten</string>
				<key>Amount</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Jack</string>
				<key>Amount</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>Queen</string>
				<key>Amount</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Clubs</string>
				<key>Name</key>
				<string>King</string>
				<key>Amount</key>
				<integer>13</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Ace</string>
				<key>Amount</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Two</string>
				<key>Amount</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Three</string>
				<key>Amount</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Four</string>
				<key>Amount</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Five</string>
				<key>Amount</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Six</string>
				<key>Amount</key>
				<integer>6</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Seven</string>
				<key>Amount</key>
				<integer>7</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Eight</string>
				<key>Amount</key>
				<integer>8</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Nine</string>
				<key>Amount</key>
				<integer>9</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Ten</string>
				<key>Amount</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Jack</string>
				<key>Amount</key>
				<integer>11</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>Queen</string>
				<key>Amount</key>
				<integer>12</integer>
			</dict>
			<dict>
				<key>Suit</key>
				<string>Hearts</string>
				<key>Name</key>
				<string>King</string>
				<key>Amount</key>
				<integer>13</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
